<button (click)="submit()" mat-raised-button color="primary" class="submit-btn">Save</button>

<as-split direction="horizontal" gutterSize="2" #mainContent>
  <as-split-area #innerBody *ngFor="let layout of layoutLstVert">
    <as-split direction="vertical" *ngIf="layout.childArr.length > 0" gutterSize="2">
      <as-split-area *ngFor="let child of layout.childArr" #innerChild
        >
        <div class="content "  [id]="'chld-'+layout.idVert+'-'+child.idHorz">
          <div class="content-body" >
            <div *ngIf="!child.file" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event, layout, child)">
                <div class="centered">Drop your file here!</div>
            </div>
            <div *ngIf="child.file && child.type.substring(0,5)=='image'" >
              <img [src]="child.url" class="img-fluid">
            </div>
            <div *ngIf="child.file && child.type.substring(0,5)=='video'" >
              <!-- <img [src]="child.url" class="sampleImg"> -->
              <video autoplay #videoPlayer class="embed-responsive" loop muted playsinline>
                  <source [src]="child.url" type="video/mp4" />
                  Browser not supported
              </video>
            </div>
          </div>
          <div class="footer-split-div">
              <!-- <button
              mat-mini-fab
              color="primary"
              aria-label="Vertical Split"
              label="uploadContent"
            >
              <mat-icon>add</mat-icon> -->
              <!-- <input type="file" name="uploadContent" (change)="onFileChanged($event)"> -->
            <!-- </button>&nbsp; -->
            <button
              mat-mini-fab
              color="primary"
              aria-label="Vertical Split"
              (click)="splitVertical()"
            >
              <mat-icon>pause</mat-icon>
            </button>
            &nbsp;
            <button
              class="rotate-cw-90"
              mat-mini-fab
              color="primary"
              aria-label="Horizontal split"
              (click)="splitHorizontal(layout)"
            >
              <mat-icon>pause</mat-icon>
            </button>
          </div>
        </div>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>

<ng-template #splitTemplate>
  <as-split direction="vertical" gutterSize="1">
    <as-split-area>
      Test2
    </as-split-area>
  </as-split>
</ng-template>
