<as-split direction="horizontal" gutterSize="2">
  <as-split-area>
    <div class="content d-flex bd-highlight flex-column">
      <div class="content-body flex-grow-1">Test</div>
      <div class="footer-split-div">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Vertical Split"
          (click)="splitVertical()"
        >
          <mat-icon>pause</mat-icon>
        </button>
        &nbsp;
        <button
          class="rotate-cw-90"
          mat-mini-fab
          color="primary"
          aria-label="Horizontal split"
          (click)="splitHorizontal()"
        >
          <mat-icon>pause</mat-icon>
        </button>
      </div>
    </div>
    <!-- <p>
          <button type="button" class="close" aria-label="Close"></button>
        </p> -->
  </as-split-area>
</as-split>
